@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<div class="row" align="center">
    
        <h1>Come on in.  Don't knock.</h1>
        <ul>
            Door Sign!  Hi Alvin!
        </ul>
    
   
</div>
