@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<div class="row" align="center">
    
       
        <ul>
            Hi Jeff.  How are you?
            Come on in.  Don't knock.
        </ul>
    
   
</div>
